<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.startup">
        <startup class="com.gitlab.eclipse.di.DIStartup"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="com.gitlab.eclipse.preferences.GitLabPreferencePage"
              name="GitLab"
              class="com.gitlab.eclipse.preferences.GitLabPreferencePage">
        </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="com.gitlab.eclipse.preferences.PreferenceInitializer"/>
    </extension>

    <!--  Schema: https://github.com/eclipse-lsp4e/lsp4e/blob/main/org.eclipse.lsp4e/schema/languageServer.exsd  -->
    <extension point="org.eclipse.lsp4e.languageServer">
      <server
        class="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
        clientImpl="com.gitlab.eclipse.lsp.GitLabLanguageServerClient"
        id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
        label="GitLab Duo"
        serverInterface="com.gitlab.eclipse.lsp.GitLabLanguageServer"
        singleton="true"
        lastDocumentDisconnectedTimeout="10000000"
      >
      </server>

      <!--
        Wondering where the content types come from?
          1. Under "Preferences > Content Types", expand "Text".
          2. Select a language, select "Add Child".
            3. Export your preferences.
            4. Search for the "baseTypeId" of newly created userCreated preferences in this format:
            /instance/userCreated1726669809672/baseTypeId=org.eclipse.jdt.core.javaSource
            /instance/userCreated1726669809672/name=Custom Sub-type of Java Source File
          5. Create new content-type elements under the contentTypes extension point with the specified alias-for call.
        -->

      <!-- NOTE: Support Code Suggestions in any editors created descended from the Text or XML content types. -->
      <!-- TODO: Normalize languageId to match the VS Code language client standard. -->
      <contentTypeMapping contentType="org.eclipse.core.runtime.text"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider">
      </contentTypeMapping>

      <contentTypeMapping contentType="org.eclipse.core.runtime.xml"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
                languageId="xml">
      </contentTypeMapping>

      <!-- TODO: Use aliases for JDT core sources. -->
      <contentTypeMapping contentType="org.eclipse.jdt.core.javaSource"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
                languageId="java">
      </contentTypeMapping>

      <!-- TODO: Use aliases for Web Tools sources. -->
      <contentTypeMapping contentType="org.eclipse.wst.css.core.csssource"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
                languageId="css">
      </contentTypeMapping>

      <contentTypeMapping contentType="org.eclipse.wst.jsdt.core.jsSource"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
                languageId="javascript">
      </contentTypeMapping>

      <contentTypeMapping contentType="org.eclipse.wst.jsdt.core.jsonSource"
                id="com.gitlab.eclipse.lsp.GitLabLanguageServerProcessProvider"
                languageId="json">
      </contentTypeMapping>
    </extension>

    <extension point="org.eclipse.ui.views">
        <category name="GitLab" id="gitlab-eclipse-plugin"/>

        <!-- TODO: Use perspective to pin the view to the right for new users. Renaming the view is helpful for testing first time UX. -->
        <view id="com.gitlab.eclipse.views.LanguageServerBrowserView"
              category="gitlab-eclipse-plugin"
              class="com.gitlab.eclipse.views.LanguageServerBrowserView"
              name="GitLab Duo"
              icon="icons/notification.png"
              inject="true">
        </view>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
                commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                class="com.gitlab.eclipse.chat.commands.OpenDuoChatCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.ExplainCode"
                class="com.gitlab.eclipse.chat.commands.ExplainCodeCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.FixCode"
                class="com.gitlab.eclipse.chat.commands.FixCodeCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.GenerateTests"
                class="com.gitlab.eclipse.chat.commands.GenerateTestsCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.RefactorCode"
                class="com.gitlab.eclipse.chat.commands.RefactorCodeCommandHandler"
        />
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:#AbstractTextEditorContext">
            <menu id="com.gitlab.eclipse.chat.menu" label="GitLab Duo Chat" icon="icons/notification.png">
                <command
                        commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                        label="Open Chat Window"
                        tooltip="Open Duo Chat Window"
                        icon="icons/duo-chat.png" />

                <command
                        commandId="gitlab-eclipse-plugin.commands.ExplainCode"
                        label="Explain Code"
                        tooltip="Explain the selected snippet" />

                <command
                        commandId="gitlab-eclipse-plugin.commands.FixCode"
                        label="Fix Code"
                        tooltip="Fix the selected code snippet" />

                <command
                        commandId="gitlab-eclipse-plugin.commands.GenerateTests"
                        label="Generate Tests"
                        tooltip="Write tests for the selected snippet" />

                <command
                        commandId="gitlab-eclipse-plugin.commands.RefactorCode"
                        label="Refactor Code"
                        tooltip="Refactor the selected snippet" />
            </menu>
        </menuContribution>
    </extension>
</plugin>
