<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
        <category name="GitLab Duo" id="gitlab-eclipse-plugin" />

        <command
                id="com.gitlab.eclipse.codesuggestions.showSuggestion"
                name="Show Suggestion"
                categoryId="gitlab-eclipse-plugin">
        </command>

        <command
                id="com.gitlab.eclipse.codesuggestions.cancelSuggestion"
                name="Cancel Suggestion"
                categoryId="gitlab-eclipse-plugin"
        />
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key
                sequence="M1+."
                commandId="com.gitlab.eclipse.codesuggestions.showSuggestion"
                contextId="org.eclipse.ui.textEditorScope"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>

        <key
                sequence="ESC"
                commandId="com.gitlab.eclipse.codesuggestions.cancelSuggestion"
                contextId="org.eclipse.ui.textEditorScope"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
        </key>
    </extension>

    <extension point="org.eclipse.ui.services">
        <sourceProvider provider="com.gitlab.eclipse.chat.DuoChatStateService">
            <variable name="duo_chat_enabled" priorityLevel="workbench"/>
        </sourceProvider>

        <sourceProvider provider="com.gitlab.eclipse.utils.theming.ThemeSourceProvider">
            <variable name="theme_tone" priorityLevel="workbench"/>
        </sourceProvider>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="com.gitlab.eclipse.preferences.GitLabPreferencePage"
              name="GitLab"
              class="com.gitlab.eclipse.preferences.GitLabPreferencePage">
        </page>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="com.gitlab.eclipse.preferences.PreferenceInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.views">
        <category name="GitLab" id="gitlab-eclipse-plugin"/>

        <!-- TODO: Use perspective to pin the view to the right for new users. Renaming the view is helpful for testing first time UX. -->
        <view id="com.gitlab.eclipse.views.LanguageServerBrowserView"
              category="gitlab-eclipse-plugin"
              class="com.gitlab.eclipse.views.LanguageServerBrowserView"
              name="GitLab Duo"
              icon="icons/notification.png"
              inject="true"
        />
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler
            class="com.gitlab.eclipse.codesuggestions.handlers.CancelCodeSuggestionsHandler"
            commandId="com.gitlab.eclipse.codesuggestions.cancelSuggestion"
        />

        <handler
                class="com.gitlab.eclipse.codesuggestions.ShowCodeSuggestionHandler"
                commandId="com.gitlab.eclipse.codesuggestions.showSuggestion"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                class="com.gitlab.eclipse.chat.commands.OpenDuoChatCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.ExplainCode"
                class="com.gitlab.eclipse.chat.commands.ExplainCodeCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.FixCode"
                class="com.gitlab.eclipse.chat.commands.FixCodeCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.GenerateTests"
                class="com.gitlab.eclipse.chat.commands.GenerateTestsCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.RefactorCode"
                class="com.gitlab.eclipse.chat.commands.RefactorCodeCommandHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.showSettings"
                class="com.gitlab.eclipse.handlers.ShowSettings"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.showDocumentation"
                class="com.gitlab.eclipse.handlers.ShowDocumentation"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.chatStatus"
                class="com.gitlab.eclipse.chat.commands.ChatStatusHandler"
        />

        <handler
                commandId="gitlab-eclipse-plugin.commands.codeSuggestionsStatus"
                class="com.gitlab.eclipse.codesuggestions.handlers.CodeSuggestionsStatusHandler"
        />
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?endof">
            <toolbar id="com.gitlab.eclipse.toolbar">
                <command
                        id="com.gitlab.eclipse.toolbar"
                        commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                        icon="icons/light/chat_on_obj.png"
                        tooltip="GitLab Duo Chat"
                >
                    <visibleWhen checkEnabled="false">
                        <and>
                            <with variable="duo_chat_enabled">
                                <equals value="true"/>
                            </with>
                            <with variable="theme_tone">
                                <equals value="dark"/>
                            </with>
                        </and>
                    </visibleWhen>
                </command>

                <command
                        id="com.gitlab.eclipse.toolbar"
                        commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                        icon="icons/dark/chat_on_obj.png"
                        tooltip="GitLab Duo Chat"
                >
                    <visibleWhen checkEnabled="false">
                        <and>
                            <with variable="duo_chat_enabled">
                                <equals value="true"/>
                            </with>
                            <with variable="theme_tone">
                                <equals value="light"/>
                            </with>
                        </and>
                    </visibleWhen>
                </command>
            </toolbar>
        </menuContribution>
        <menuContribution locationURI="popup:#AbstractTextEditorContext">
            <menu id="com.gitlab.eclipse.chat.menu" label="GitLab Duo Chat" icon="icons/notification.png">
                <command
                        commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                        label="Open Chat Window"
                        tooltip="Open Duo Chat Window"
                        icon="icons/dark/chat_on_obj.png"
                >
                    <visibleWhen checkEnabled="false">
                        <with variable="theme_tone">
                            <equals value="light"/>
                        </with>
                    </visibleWhen>
                </command>

                <command
                        commandId="gitlab-eclipse-plugin.commands.OpenDuoChat"
                        label="Open Chat Window"
                        tooltip="Open Duo Chat Window"
                        icon="icons/light/chat_on_obj.png"
                >
                    <visibleWhen checkEnabled="false">
                        <with variable="theme_tone">
                            <equals value="dark"/>
                        </with>
                    </visibleWhen>
                </command>

                <command
                        commandId="gitlab-eclipse-plugin.commands.ExplainCode"
                        label="Explain Code"
                        tooltip="Explain the selected snippet"/>

                <command
                        commandId="gitlab-eclipse-plugin.commands.FixCode"
                        label="Fix Code"
                        tooltip="Fix the selected code snippet"/>

                <command
                        commandId="gitlab-eclipse-plugin.commands.GenerateTests"
                        label="Generate Tests"
                        tooltip="Write tests for the selected snippet"/>

                <command
                        commandId="gitlab-eclipse-plugin.commands.RefactorCode"
                        label="Refactor Code"
                        tooltip="Refactor the selected snippet"/>

                <visibleWhen checkEnabled="false">
                    <with variable="duo_chat_enabled">
                        <equals value="true"/>
                    </with>
                </visibleWhen>
            </menu>
        </menuContribution>

        <menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
            <toolbar id="com.gitlab.eclipse.menus.trim" label="GitLab Duo">
                <command
                        commandId="gitlab-eclipse-plugin.commands.showPluginStatus"
                        icon="icons/notification.png"
                        id="gitlab-eclipse-plugin.menus.statusWidgetMenu"
                        style="pulldown"
                        tooltip="Show GitLab Status">
                </command>
            </toolbar>
        </menuContribution>

        <menuContribution
                allPopups="false"
                locationURI="menu:gitlab-eclipse-plugin.menus.statusWidgetMenu">

            <command
                    commandId="gitlab-eclipse-plugin.commands.chatStatus"
                    id="gitlab-eclipse-plugin.commands.chatStatus"
                    label="Duo Chat: Disabled">
            </command>

            <command
                    commandId="gitlab-eclipse-plugin.commands.codeSuggestionsStatus"
                    id="gitlab-eclipse-plugin.commands.codeSuggestionsStatus"
                    label="Code Suggestions: Disabled">
            </command>

            <separator name="StatusActions" visible="true"/>

            <command
                    commandId="gitlab-eclipse-plugin.commands.showSettings"
                    id="gitlab-eclipse-plugin.commands.showSettings"
                    label="Show Settings">
            </command>

            <command
                    commandId="gitlab-eclipse-plugin.commands.showDocumentation"
                    id="gitlab-eclipse-plugin.menus.showDocumentation"
                    label="Show Documentation">
            </command>
        </menuContribution>
    </extension>
</plugin>
