<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category name="GitLab" id="gitlab-eclipse-plugin"></category>

		<!-- TODO: Use perspective to pin the view to the right for new users. Renaming the view is helpful for testing first time UX. -->
		<view id="com.gitlab.eclipse.views.LanguageServerBrowserView"
			category="gitlab-eclipse-plugin"
			class="com.gitlab.eclipse.views.LanguageServerBrowserView"
			name="GitLab Duo"
			icon="icons/notification.png"
			inject="true">
		</view>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category id="gitlab-eclipse-plugin.commands.category" name="GitLab Duo Commands">
		</category>
	</extension>

	<!-- TODO: Add key bindings. -->
	<!-- <extension point="org.eclipse.ui.bindings"></extension> -->

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#AbstractTextEditorContext">
			<menu id="com.gitlab.eclipse.menus.editor" label="GitLab Duo" icon="icons/notification.png">
				<command
					commandId="gitlab-eclipse-plugin.commands.ExplainCode"
					id="gitlab-eclipse-plugin.commands.ExplainCode"
					label="Explain Code"
					tooltip="Start a Duo Chat conversation about the currently selected block of code">
				</command>

				<command
					commandId="gitlab-eclipse-plugin.commands.FixCode"
					id="gitlab-eclipse-plugin.commands.FixCode"
					label="Fix Code"
					tooltip="Fix currently selected code with GitLab Duo Chat">
				</command>

				<command
					commandId="gitlab-eclipse-plugin.commands.GenerateTests"
					id="gitlab-eclipse-plugin.commands.GenerateTests"
					label="Generate Tests"
					tooltip="Generate tests for code found in the current file">
				</command>

				<command
					commandId="gitlab-eclipse-plugin.commands.RefactorCode"
					id="gitlab-eclipse-plugin.commands.RefactorCode"
					label="Refactor Code"
					tooltip="Refactor code from open file">
				</command>
			</menu>
		</menuContribution>

		<menuContribution locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar id="com.gitlab.eclipse.menus.trim" label="GitLab Duo">
				<command
					commandId="gitlab-eclipse-plugin.commands.showPluginStatus"
					icon="icons/notification.png"
					id="gitlab-eclipse-plugin.menus.statusWidgetMenu"
					style="pulldown">
				</command>
			</toolbar>
		</menuContribution>

		<menuContribution
			allPopups="false"
			locationURI="menu:gitlab-eclipse-plugin.menus.statusWidgetMenu">

			<separator name="StatusIndicators" visible="false"/>

			<command
				commandId="gitlab-eclipse-plugin.commands.chatStatus"
				icon="icons/duo-chat.png"
				id="gitlab-eclipse-plugin.commands.chatStatus"
				label="Duo Chat: Enabled">
			</command>

			<command
				commandId="gitlab-eclipse-plugin.commands.codeSuggestionsStatus"
				icon="icons/notification.png"
				id="gitlab-eclipse-plugin.commands.codeSuggestionsStatus"
				label="Code Suggestions: Enabled">
			</command>

			<separator name="StatusActions" visible="true"/>

			<command
				commandId="gitlab-eclipse-plugin.commands.disableAllCodeSuggestions"
				id="gitlab-eclipse-plugin.commands.disableAllCodeSuggestions"
				label="Disable All Code Suggestions"
				style="pulldown">
			</command>

			<separator name="UserHelp" visible="true"/>

			<command
				commandId="gitlab-eclipse-plugin.commands.showSettings"
				id="gitlab-eclipse-plugin.commands.showSettings"
				label="Show Settings">
			</command>

			<command
				commandId="gitlab-eclipse-plugin.commands.showDocumentation"
				id="gitlab-eclipse-plugin.menus.showDocumentation"
				label="Show Documentation">
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page id="com.gitlab.eclipse.preferences.GitLabPreferencePage"
			name="GitLab"
			class="com.gitlab.eclipse.preferences.GitLabPreferencePage">
		</page>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.gitlab.eclipse.preferences.PreferenceInitializer"/>
	</extension>

	<!--
	<extension point="org.eclipse.core.runtime.contentTypes">
	</extension>
	-->

	<extension point="org.eclipse.lsp4e.languageServer">
		<server
			class="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
			clientImpl="com.gitlab.eclipse.lsp.GitLabLanguageClient"
			id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
			label="GitLab Duo"
			serverInterface="com.gitlab.eclipse.lsp.GitLabLanguageServer"
			singleton="true">
		</server>

		<!--
			Wondering where the content types come from?
				1. Under "Preferences > Content Types", expand "Text".
				2. Select a language, select "Add Child".
		     	3. Export your preferences.
		     	4. Search for the "baseTypeId" of newly created userCreated preferences in this format:
					/instance/userCreated1726669809672/baseTypeId=org.eclipse.jdt.core.javaSource
					/instance/userCreated1726669809672/name=Custom Sub-type of Java Source File
				5. Create new content-type elements under the contentTypes extension point with the specified alias-for call.
	    -->

		<!-- NOTE: Support Code Suggestions in any editors created descended from the Text or XML content types. -->
		<!-- TODO: Normalize languageId to match the VS Code language client standard. -->
		<contentTypeMapping contentType="org.eclipse.core.runtime.text"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider">
		</contentTypeMapping>

		<contentTypeMapping contentType="org.eclipse.core.runtime.xml"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
							languageId="xml">
		</contentTypeMapping>

		<!-- TODO: Use aliases for JDT core sources. -->
		<contentTypeMapping contentType="org.eclipse.jdt.core.javaSource"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
							languageId="java">
		</contentTypeMapping>

		<!-- TODO: Use aliases for Web Tools sources. -->
		<contentTypeMapping contentType="org.eclipse.wst.css.core.csssource"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
							languageId="css">
		</contentTypeMapping>

		<contentTypeMapping contentType="org.eclipse.wst.jsdt.core.jsSource"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
							languageId="javascript">
		</contentTypeMapping>

		<contentTypeMapping contentType="org.eclipse.wst.jsdt.core.jsonSource"
							id="com.gitlab.eclipse.lsp.GitLabLanguageServerProvider"
							languageId="json">
		</contentTypeMapping>
	</extension>

	<extension point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
		<codeMiningProvider id="com.gitlab.eclipse.codemining.MyCodeMiningProvider"
			class="com.gitlab.eclipse.codemining.MyCodeMiningProvider"
			label="GitLab Duo [Code Mining Provider]"/>
	</extension>

	<extension point="org.eclipse.ui.startup">
		<startup class="com.gitlab.eclipse.lsp.install.LanguageServerStartup"/>
	</extension>
</plugin>
